In [76]:
import pandas as pd
import re
import html
import nltk

#### Импорт данных из файлов и объединение в один DataFrame

In [65]:
test_tweets = pd.read_csv('test_tweets.csv', index_col=['id'])
train_tweets = pd.read_csv('train_tweets.csv', index_col=['id'])
df = pd.concat([train_tweets, test_tweets], sort=True)
df.head()

    label                                              tweet
id
1     0.0   @user when a father is dysfunctional and is s...
2     0.0  @user @user thanks for #lyft credit i can't us...
3     0.0                                bihday your majesty
4     0.0  #model   i love u take with u all the time in ...
5     0.0             factsguide: society now    #motivation

#### Задание 1.
Заменим html-сущности (к примеру: < > &).
Сделаем это с помощью HTMLParser.unescape(). Всю предобработку делаем в новом столбце 'clean_tweet'

In [66]:
df['clean_tweet'] = df['tweet'].apply(html.unescape)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,@user when a father is dysfunctional and is s...
2,0.0,@user @user thanks for #lyft credit i can't us...,@user @user thanks for #lyft credit i can't us...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

#### Задание 2

In [67]:
df['clean_tweet'].replace(r'@\w*', '', regex=True, inplace=True)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

#### Задание 3

In [68]:
df['clean_tweet'].map(lambda x: x.lower())
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

#### Задание 4-6

In [69]:
apostrophe_dict = {
    "can't": 'can not',
    "ain't": 'am not',
    "don't": 'do not'
}

emoticon_list = {
    ':\)': ' ',
    ':\(': ' ',
    ';\)': ' '
}

In [70]:
df['clean_tweet'] = df['clean_tweet'].replace(apostrophe_dict, regex=True)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can not use cause ...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

In [71]:
df['clean_tweet'] = df['clean_tweet'].replace(emoticon_list, regex=True)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can not use cause ...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

#### Задание 7

In [72]:
df['clean_tweet'] = df['clean_tweet'].replace(r'[^\w\s]', ' ', regex=True)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i can not use cause ...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide society now motivation

#### Задание 8

In [73]:
df['clean_tweet'] = df['clean_tweet'].replace(r'[^a-zA-Z0-9]', ' ', regex=True)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i can not use cause ...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide society now motivation

#### Задание 9

In [74]:
df['clean_tweet'] = df['clean_tweet'].replace(r'[^a-zA-Z]', ' ', regex=True)
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i can not use cause ...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,model i love u take with u all the time in ...
5,0.0,factsguide: society now #motivation,factsguide society now motivation

#### Задание 10

In [75]:
df['clean_tweet'] = df['clean_tweet'].map(lambda x: ' '.join([w for w in x.split() if len(w) > 1]))
df.head()

,label,tweet,clean_tweet
id,,,
1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit can not use cause they ...
3,0.0,bihday your majesty,bihday your majesty
4,0.0,#model i love u take with u all the time in ...,model love take with all the time in ur
5,0.0,factsguide: society now #motivation,factsguide society now motivation

#### Задание 11

In [78]:
df['tweet_token'] = df['clean_tweet'].apply(nltk.tokenize.word_tokenize)
df.head()

,label,tweet,clean_tweet,tweet_token
id,,,,
1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,..."
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit can not use cause they ...,"[thanks, for, lyft, credit, can, not, use, cau..."
3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]"
4,0.0,#model i love u take with u all the time in ...,model love take with all the time in ur,"[model, love, take, with, all, the, time, in, ur]"
5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]"

#### Задание 12

In [88]:
from nltk.corpus import stopwords
nltk.download('stopwords')

In [94]:
df['tweet_token_filtered'] = df['tweet_token'].apply(lambda x: [w for w in x if w not in stopwords.words('english')])
df.head()

,label,tweet,clean_tweet,tweet_token,tweet_token_filtered
id,,,,,
1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ..."
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit can not use cause they ...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee..."
3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]"
4,0.0,#model i love u take with u all the time in ...,model love take with all the time in ur,"[model, love, take, with, all, the, time, in, ur]","[model, love, take, time, ur]"
5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]"

#### Задание 13

In [96]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/kosmosivanov/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [100]:
sentence_words = nltk.stem.wordnet.WordNetLemmatizer()
df['tweet_stemmed'] = df['tweet_token_filtered'].apply(lambda x: [sentence_words.lemmatize(w) for w in x])
df.head()

,label,tweet,clean_tweet,tweet_token,tweet_token_filtered,tweet_stemmed
id,,,,,,
1,0.0,@user when a father is dysfunctional and is s...,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunctional, selfish, drag, kid, dy..."
2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit can not use cause they ...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thanks, lyft, credit, use, cause, offer, whee..."
3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesty]"
4,0.0,#model i love u take with u all the time in ...,model love take with all the time in ur,"[model, love, take, with, all, the, time, in, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
5,0.0,factsguide: society now #motivation,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguide, society, motivation]"

In [101]:
df.to_csv('result.csv')